<div fxLayout="row" fxLayoutAlign="center center">
    <table mat-table [dataSource]="Owner.Pitchers">

        <!-- Name -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef class="left"> <a class="plain-link"><span class="owner-table-header">{{Owner.Name}}</span> - Pitchers</a> </th>
            <td mat-cell *matCellDef="let element" class="left">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                  <span *ngIf="element.Probable" class="probable">^</span>
                  <span *ngIf="element.Link.includes('http')"><a [href]="element.Link" target="_blank">{{element.Name}} </a> </span>
                  <span *ngIf="!element.Link.includes('http')"><a class="no-stats" href="https://google.com/search?q={{element.Name}}&tbm=nws" target="_blank">{{element.Name}} <mat-icon class="search">feed</mat-icon> </a></span>
                  <span class="age"><a class="no-stats" href="https://google.com/search?q={{element.Name}}&tbm=nws" target="_blank">{{element.Age === 0 ? '' : element.Age}}</a></span>
                </div>
                <div>
                  <span class="change" *ngIf="!!element.Change"> +{{element.Change}}</span>
                </div>
              </div>
             </td>
            <td mat-footer-cell *matFooterCellDef class="left">Total</td>
        </ng-container>

        <!-- Age -->
        <ng-container matColumnDef="Age">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- GP -->
        <ng-container matColumnDef="GP">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> GP </th>
            <td mat-cell *matCellDef="let element"> {{element.GamesPlayed}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- W -->
        <ng-container matColumnDef="W">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> W </th>
            <td mat-cell *matCellDef="let element"> {{element.W}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- IP -->
        <ng-container matColumnDef="IP">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> IP </th>
            <td mat-cell *matCellDef="let element"> {{element.IP }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- SO -->
        <ng-container matColumnDef="SO">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> SO </th>
            <td mat-cell *matCellDef="let element"> {{element.SO }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- SV -->
        <ng-container matColumnDef="SV">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> SV </th>
            <td mat-cell *matCellDef="let element"> {{element.SV}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Total -->
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef class="stat-col"> Pts </th>
            <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
            <td mat-footer-cell *matFooterCellDef>
                {{Owner.PitcherScore}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"  (click)="scrollToTop()" ></tr>
        <tr mat-row *matRowDef="let row; columns: columns; let i = index" [class.counts]="i < countingPlayers" [class.bold-line]="i === countingPlayers - 1"></tr>
        <tr mat-footer-row *matFooterRowDef="columns" class="footer-row"></tr>

    </table>
</div>
